/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	max-height: fit-content;
}

.modal-viewers{
  width: 100%;
  height: 100%;
  min-height: 250px;
}

/* #ar-button {
  background-image: url(../assets/ic_view_in_ar_new_googblue_48dp.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 132px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
} */

/*Header*/
.header-logo, nav{
	border-bottom: 1px solid #ebebeb;
}

.header-logo img{
	height: 100px;
	border: 2px solid black;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.toggle-menu{
  display: none;
}

nav{
  display: flex;
  transition: all 0.7s ease;
}

.navbar-item{
	list-style: none;
	max-width: 100%;
	letter-spacing: 0.2px;
	font-size: 12px;
	font-weight: 600;
	font-family: sans-serif;
	cursor: pointer;
}

/* Columns */
.left-column {
  width: 40%;
	position: relative;
	display: flex;
	align-items: center;
	align-content: space-between;
}

.center-column {
  width: 40%;
  margin-top: 60px;
}

.right-column{
	width: 20%;
}

/* Left Column */
.left-column img {
  width: 100%;
}

/* Center */
.product-title{
	border-bottom: 3px solid black;
	padding-bottom: 5px;
}

.stars{
	color: #e6eb21;
	display: inline;
}

.product-detail h4{
	margin: .25rem 0;
}

.product-detail ul{
	margin: .25rem 0;
}

/* Right Column */
.product-action{
 border: 2px solid lightgray;
 border-radius: 20px;
}

.btn-buy{
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 8px 15px;
	background-color: #23aa00;
	color: #fff;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	letter-spacing: 0.08em;
	white-space: normal;
	font-size: 12px;
	position: relative;
}

.product-action img{
	width: 100%;
}

.redirect-button{
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px 15px;
  background-color: #53caff;
  color: #fff;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 12px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  text-decoration: none;
}

/*Footer*/
footer{
  border-top: 2px solid #000;
}
.columns{
  display: flex;
}

.columns > div{
  width: 25%;
}

.column-one img{
  width: 100%;
}

.company-name{
  letter-spacing: 2.5px;
  font-weight: 400;
}

.footer-title{
  font-weight: 300;
}

.socmed{
  cursor: pointer;
  width: fit-content;
}

.footer-menu{
  list-style: none;
  font-size: 13px;
}

.footer-menu li{
  cursor: pointer;
}

.newsletter-container{
  width: 100%;
  display: flex;
}

.newsletter-container input{
  border: 1px solid lightgray;
  width: calc( 100% - 100px );
}

.newsletter-button{
  width: 92px;
  padding: 10px 0;
  height: 100%;
  background-color: chocolate;
  color: white;
  margin-left: -1px;
  text-align: center;
}

.credits{
  font-size: 12px;
}

a{
  text-decoration: none;
  color: inherit;
}

/*spacing margin and padding*/
.m-0 {
  margin: 0!important
}

.mt-0,
.my-0 {
  margin-top: 0!important
}

.mr-0,
.mx-0 {
  margin-right: 0!important
}

.mb-0,
.my-0 {
  margin-bottom: 0!important
}

.ml-0,
.mx-0 {
  margin-left: 0!important
}

.m-1 {
  margin: .25rem!important
}

.mt-1,
.my-1 {
  margin-top: .25rem!important
}

.mr-1,
.mx-1 {
  margin-right: .25rem!important
}

.mb-1,
.my-1 {
  margin-bottom: .25rem!important
}

.ml-1,
.mx-1 {
  margin-left: .25rem!important
}

.m-2 {
  margin: .5rem!important
}

.mt-2,
.my-2 {
  margin-top: .5rem!important
}

.mr-2,
.mx-2 {
  margin-right: .5rem!important
}

.mb-2,
.my-2 {
  margin-bottom: .5rem!important
}

.ml-2,
.mx-2 {
  margin-left: .5rem!important
}

.m-3 {
  margin: 1rem!important
}

.mt-3,
.my-3 {
  margin-top: 1rem!important
}

.mr-3,
.mx-3 {
  margin-right: 1rem!important
}

.mb-3,
.my-3 {
  margin-bottom: 1rem!important
}

.ml-3,
.mx-3 {
  margin-left: 1rem!important
}

.m-4 {
  margin: 1.5rem!important
}

.mt-4,
.my-4 {
  margin-top: 1.5rem!important
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem!important
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem!important
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem!important
}

.m-5 {
  margin: 3rem!important
}

.mt-5,
.my-5 {
  margin-top: 3rem!important
}

.mr-5,
.mx-5 {
  margin-right: 3rem!important
}

.mb-5,
.my-5 {
  margin-bottom: 3rem!important
}

.ml-5,
.mx-5 {
  margin-left: 3rem!important
}

.p-0 {
  padding: 0!important
}

.pt-0,
.py-0 {
  padding-top: 0!important
}

.pr-0,
.px-0 {
  padding-right: 0!important
}

.pb-0,
.py-0 {
  padding-bottom: 0!important
}

.pl-0,
.px-0 {
  padding-left: 0!important
}

.p-1 {
  padding: .25rem!important
}

.pt-1,
.py-1 {
  padding-top: .25rem!important
}

.pr-1,
.px-1 {
  padding-right: .25rem!important
}

.pb-1,
.py-1 {
  padding-bottom: .25rem!important
}

.pl-1,
.px-1 {
  padding-left: .25rem!important
}

.p-2 {
  padding: .5rem!important
}

.pt-2,
.py-2 {
  padding-top: .5rem!important
}

.pr-2,
.px-2 {
  padding-right: .5rem!important
}

.pb-2,
.py-2 {
  padding-bottom: .5rem!important
}

.pl-2,
.px-2 {
  padding-left: .5rem!important
}

.p-3 {
  padding: 1rem!important
}

.pt-3,
.py-3 {
  padding-top: 1rem!important
}

.pr-3,
.px-3 {
  padding-right: 1rem!important
}

.pb-3,
.py-3 {
  padding-bottom: 1rem!important
}

.pl-3,
.px-3 {
  padding-left: 1rem!important
}

.p-4 {
  padding: 1.5rem!important
}

.pt-4,
.py-4 {
  padding-top: 1.5rem!important
}

.pr-4,
.px-4 {
  padding-right: 1.5rem!important
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem!important
}

.pl-4,
.px-4 {
  padding-left: 1.5rem!important
}

.p-5 {
  padding: 3rem!important
}

.pt-5,
.py-5 {
  padding-top: 3rem!important
}

.pr-5,
.px-5 {
  padding-right: 3rem!important
}

.pb-5,
.py-5 {
  padding-bottom: 3rem!important
}

.pl-5,
.px-5 {
  padding-left: 3rem!important
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    display: block;
  }

  .container > div {
    width: auto;
    max-width: 100%;
  }

  .center-column {
    margin: 1.5rem!important;
  }

  .right-column{
    margin-top: 0;
  }

  .product-action{
    border: none;
    padding: 0 !important;
  }
}

@media (max-width: 767px) {
  .header-logo img{
    height: 50px;
  }
  
  .toggle-menu{
    display: block;
    position: absolute;
    left: 1.5rem;
    top: 35px;
    font-size: 30px;
  }

  .show{
    display: block;
  }

  .hide{
    display: none;
  }

  .columns{
    display: block;
  }
  
  .columns > div{
    width: 100%;
    padding: 0!important;
    text-align: center;
    margin-top: 0.50rem;
  }

  .socmed{
    margin: 0 auto;
  }

  .credits{
    margin-top: 0.50rem;
    text-align: center;
  }
}